<img src="http://chart.apis.google.com/chart?chxl=1:|Friendly|Creative|Smart|Handsome|Humble|Brilliant|Genius|Charming|Funny|Awesome&chxr=0,0,155&chxt=x,y&chbh=a,12&chs=600x473&cht=bhs&chco=4D89F9&chds=0,160&chd=t:10,50,60,80,40,60,30&chma=|5&chtt=Words+that+best+describe+Jared&chts=676767,16" width="600" height="473" alt="Words that best describe Jared" />
